@font-face {font-family: 'ImpactWGL';src: url('fonts/2F56FC_0_0.eot');src: url('fonts/2F56FC_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F56FC_0_0.woff2') format('woff2'),url('fonts/2F56FC_0_0.woff') format('woff'),url('fonts/2F56FC_0_0.ttf') format('truetype'),url('fonts/2F56FC_0_0.svg#wf') format('svg');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('fonts/2F56FC_1_0.eot');src: url('fonts/2F56FC_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F56FC_1_0.woff2') format('woff2'),url('fonts/2F56FC_1_0.woff') format('woff'),url('fonts/2F56FC_1_0.ttf') format('truetype'),url('fonts/2F56FC_1_0.svg#wf') format('svg');}  
@font-face {font-family: 'AvenirLTStd-Book';src: url('fonts/2F56FC_2_0.eot');src: url('fonts/2F56FC_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F56FC_2_0.woff2') format('woff2'),url('fonts/2F56FC_2_0.woff') format('woff'),url('fonts/2F56FC_2_0.ttf') format('truetype'),url('fonts/2F56FC_2_0.svg#wf') format('svg');}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block
}

html {
font-size:16px;
background-image:url(./img/background.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-position:center;
background-size:100% 100%;
}

body, html {
height: 100%;
}

#mobile {
display: none;
}

.bgimgs, .info {
position:absolute;
z-index:99;
-webkit-user-drag:none;

}

.png, .logo {
vertical-align: center;


}

/*picture img {

width:80vw!important;

}*/








/*.section picture {

width: 800px!important;
}

.test {
width: 800px!important;

}*/


.logo {
/*width: 80vw;
margin-top:10vw;
margin-left:10vw;*/
}



/*
.respimage {
position:absolute;
width:100%;

}

.respimage2 {
position:relative;
width:100%;
z-index:99;
-webkit-user-drag:none;
vertical-align: center;
padding-bottom:66%;
background-size:cover;
text-indent:-9999px;
}

#what-is-pact-1, #what-is-pact-2 {
-webkit-image-rendering: crisp-edges;
width: 100vw;
height: 100vh;
}
*/
























.mask {
position:absolute;
z-index:998;
}



.overlay {
display: none;
width:100%;
height: 100%;
position: fixed;
z-index: 999;
background-image:url(./img/background.jpg);
left: 0px;
top: 0px;
overflow: scroll;
cursor: url('img/closeCursor.svg') 22 45, default; 
}








/*.overlay img {
vertical-align: center;
width: 100%;
}*/

.profilePicture, .overlayText{


}

.overlayContentWrap {

margin-top:20vh;
}

.profilePicture {
margin-left: 22vw;
margin-right: 5vw;
}

.profilePicture, .overlayText, .iconsContact {
float:left;
}


.profileName {
width: 100%;
display: inline-block;
font-size: 2rem;
font-family: Helvetica Neue;
font-weight: bold;
margin-bottom: 2rem;
}

.overlayText {

width: 30vw;
}


.intro {
font-size: 1rem;
font-family: Helvetica Neue;
font-weight: bold;
}

.story {
margin-top: 10vh;
}



.iconsContact {
padding-right: 0.5vw; 
z-index: 1001;
width: 20px;
}



.icon:hover {
fill:red;
}


.clsBox {
position: absolute;
z-index: 1000;
font-family: Helvetica Neue;
background: #0000FF;
color: #ffffff;
width: 120px;
margin-left: 45vw;
text-align: center;
font-size: 25px;
padding: 15px 10 5px 15px;
cursor: pointer;
}


.email {
position: absolute;
z-index: 1000;
font-family: Helvetica Neue;
background: #0000FF;
color: #ffffff;
width: 120px;
margin-left: 15vw;
text-align: center;
font-size: 25px;
padding: 15px 10 5px 15px;
cursor: pointer;

}



.linkedin {
position: absolute;
z-index: 1000;
font-family: Helvetica Neue;
background: #0000FF;
color: #ffffff;
width: 120px;
margin-left: 45vw;
text-align: center;
font-size: 25px;
padding: 15px 10 5px 15px;
cursor: pointer;

}





@media (max-width: 2360px) {

.home .main {
display: block;
height: 100%;
width: 19800px;
height: 100%;
overflow-y:hidden;
}

.home .section {
display:inline-block;
margin: 0 40px;
}

.section {
top:0;
position: relative;
width: 1600px;
height: 100%;
/*background-color: blue;*/
}

#maskButtons{
margin-left:280px;
}

.btnClick {
color: #FFF;
opacity: 0;
cursor: pointer;
margin-top:330px;
margin-left: 20px;
width: 230px;
height: 370px;
}
}


@media (max-width: 1580px) {

.home .main {
width: 16880px;
}

.section {
width: 1280px;
/*background-color: red;*/
}

#maskButtons{
margin-left:220px;
}

.btnClick {
margin-top:260px;
margin-left: 20px;
width: 180px;
height: 300px;
}
}



@media (max-width: 1200px) {

.home .main {
width:20000px;
}

.section {
width: 1100px;
/*background-color: yellow;*/
}


#maskButtons{
margin-left:190px;
}


.btnClick {
margin-top:225px;
margin-left: 16px;
width: 155px;
height: 255px;
}
}


@media and
(min-width: 1024) and
(max-width: 1024px) {

.home .main {
width: 10000px;
}

.section {
width: 1100px;
background-color: yellow;
}


#maskButtons{
margin-left:190px;
}


.btnClick {
margin-top:225px;
margin-left: 16px;
width: 155px;
height: 255px;
}
}






/*          MOBILE        */



/*          TABLETS        */



/*          IPAD        */

@media only screen 

and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (-webkit-min-device-pixel-ratio: 1) { 

/*@media only screen and
(max-device-width : 1024px) {*/


html {
font-size: 14px;
background-image:url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);
-webkit-overflow-scrolling: touch;
}

body {
width: 100%;
}

#mobile{
margin-left: 10vw;
margin-right: 10vw;
display: block;
}

.sticky {
position: -webkit-sticky;
position: sticky;
top: 0; 
}

.sticky:before,
.sticky:after {
content: '';
display: table; 
}



#logo-mobile img {
padding-top:20rem;
width: 50vw;
display: block;
margin: auto;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
-webkit-transform: translateZ(-1);
transform: translateZ(-1); 
}


#what-is-pact {
margin-top: 25rem;
}
#what-is-pact header {
text-align:center;
font-family: ImpactWGL, Helvetica Neue, sans-serif;
text-align: center; 
font-size: 4rem;
}

#what-is-pact article {
margin-top: 5rem;
margin-bottom: 50rem;
text-align:center; 
}


#what-we-do,
#who-we-are,
#why-pact,
#contact-us {
margin-top: 50rem;
margin-bottom: 50rem;
}


#what-we-do header,
#who-we-are header,
#why-pact header,
#contact-us header { 
padding-top: 2rem;
margin-bottom: 50rem;
text-align:center;
font-family: ImpactWGL, Helvetica Neue, sans-serif;
text-align: center; 
font-size: 4rem;
}


#what-we-do article,
#who-we-are article,
#contact-us article { 
margin-top: 30rem;
margin-bottom: 10rem;
text-align:center;
}

#why-pact article {
margin-top: 30rem;
margin-bottom: 10rem;
}

#what-is-pact article strong,
#what-we-do article strong,
#who-we-are article strong,
#why-pact article strong {
margin-bottom: 2.5rem;
display: block;
font-family: AvenirLTStd-Heavy, Helvetica Neue, sans-serif;
font-size: 1.8rem;
}

#what-is-pact article p,
#what-we-do article p,
#who-we-are article p,
#why-pact article p,
#contact-us article p { 
margin-bottom: 5rem;
display: block;
font-family: AvenirLTStd-Book, Helvetica Neue, sans-serif;
font-size: 1.4rem;
line-height: 2.2rem;
}

#who-we-are article img {
width: 70vw;
padding-bottom: 8rem;
}

#who-we-are article strong {
margin-top: -5.5rem;
}

#who-we-are p {
margin: 0 auto;
max-width: 60vw;
}

#who-we-are button,
#contact-us button {
background: none;
border: 0;
margin-top:-5rem;
}

#who-we-are svg,
#contact-us svg {
padding-right: 2vw;
width: 8vw;
}

#contact-us img {
width: 80vw;
}

#who-we-are img {
width: 80vw;
display: block;
margin: auto;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
-webkit-transform: translateZ(-1);
transform: translateZ(-1);
}

#right-align-text strong,
#right-align-text p {
text-align: right;
}

#left-align-text strong,
#left-align-text p {
text-align: left;
}


.home .main {
display:none;
}

.logo, .bgimgs {
display:none;
}
}

/*          MOBILE     */


@media only screen 
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 2) { 

html {
font-size: 20px;
}

#who-we-are p {

max-width: 80vw;
}


}




/*          IPHONE 6        */


/*@media only screen 
and (max-device-width : 667px)
and (-webkit-min-device-pixel-ratio: 2) {

html {
font-size: 16px;
}


body {
 
}

 }*/





/*          IPHONE 5        */




/*@media only screen
and (min-device-width : 568px) 
and (-webkit-min-device-pixel-ratio: 2){


html {
font-size: 18px;
}

body {
    background-color: green;
}

}*/




/*          IPHONE 4        */

/*@media only screen
and (max-device-width : 480px)
and (min-device-width : 320px)
and (-webkit-min-device-pixel-ratio: 2) {

html {
font-size: 20px;
}

body {
background-color: black;
}
.home .main {
display:none;
}

.logo, .bgimgs {
display:none;
}

}*/



