@font-face {font-family: 'ImpactWGL';src: url('fonts/2F56FC_0_0.eot');src: url('fonts/2F56FC_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F56FC_0_0.woff2') format('woff2'),url('fonts/2F56FC_0_0.woff') format('woff'),url('fonts/2F56FC_0_0.ttf') format('truetype'),url('fonts/2F56FC_0_0.svg#wf') format('svg');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('fonts/2F56FC_1_0.eot');src: url('fonts/2F56FC_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F56FC_1_0.woff2') format('woff2'),url('fonts/2F56FC_1_0.woff') format('woff'),url('fonts/2F56FC_1_0.ttf') format('truetype'),url('fonts/2F56FC_1_0.svg#wf') format('svg');}  
@font-face {font-family: 'AvenirLTStd-Book';src: url('fonts/2F56FC_2_0.eot');src: url('fonts/2F56FC_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F56FC_2_0.woff2') format('woff2'),url('fonts/2F56FC_2_0.woff') format('woff'),url('fonts/2F56FC_2_0.ttf') format('truetype'),url('fonts/2F56FC_2_0.svg#wf') format('svg');}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block
}

html {
font-size:16px;
background-image:url(./img/background.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-position:center;
background-size:100% 100%;
}

body, html {
height: 100%;
}

#mobile {
display: none;
}

.home .main {
display: block;
height: 100%;
width: 19800px;
height: 100%;
overflow-y:hidden;
}

.home .section {
display:inline-block;
margin: 0 40px;
}

.section {
top:0;
position: relative;
width: 1600px;
height: 100%;
/*background-color: blue;*/
}


.section picture {
margin-left: -50px;
position:absolute;
z-index:0;
-webkit-user-drag:none;
vertical-align: center;
}


.mask {
position:absolute;
z-index:1;
margin: 0 auto;
margin-top:36vh;
margin-left:14.2vw;
}

.mask article button {
color: #FFF;
opacity: 0;
cursor: pointer;
margin-left: 1.6vw;
width: 14vw;
height: 40vh;
}


#contact-us {
color: #000;
opacity: 0;
cursor: pointer;
margin-left: 27vw;
width: 11vw;
height: 5vh;
margin-top: 4.5vh;
}

.overlay {
display: none;
width:100%;
height: 100%;
position: fixed;
z-index: 999;
background-image:url(./img/background.jpg);
left: 0px;
top: 0px;
overflow: scroll;
cursor: url('img/closeCursor.svg') 22 45, default; 
}


#paul-profile,
#jan-profile,
#jerry-profile,
#keith-profile {
padding-left: 15vw;
padding-top: 15vh;
}

#paul-profile-picture-contact,
#jan-profile-picture-contact,
#jerry-profile-picture-contact,
#keith-profile-picture-contact {
position:relative;
display: inline;
float: left;
/*border: 5px solid blue;*/
width: 20vw;
height: 70vh;
margin: 0 auto;
}

#paul-profile-picture-contact picture img,
#jan-profile-picture-contact picture img,
#jerry-profile-picture-contact picture img,
#keith-profile-picture-contact picture img {

top: 0;


width: 20vw;
/*border: 5px solid red;*/
}

#paul-profile button,
#jan-profile button,
#jerry-profile button,
#keith-profile button {
position:absolute;
vertical-align: top;
bottom: 0;
outline: 0; 
border: 0;
background: none;
margin-left: -4vw;
   /*border: 5px solid green;*/
}

#paul-profile a svg,
#jan-profile a svg,
#jerry-profile a svg,
#keith-profile a svg {
margin-left: -0.5vw;
width: 3vw;
height: 3vw;
margin-right: 1vw;
/*border: 5px solid yellow;*/
}

#paul-profile a svg:hover,
#jan-profile a svg:hover,
#jerry-profile a svg:hover,
#keith-profile a svg:hover {
fill:gray;
}

#paul-profile article,
#jan-profile article,
#jerry-profile article,
#keith-profile article {
margin-left: 25vw;
max-width: 44vw;
}

#paul-profile article header,
#jan-profile article header,
#jerry-profile article header,
#keith-profile article header {
margin-top: -1.6vh;
margin-bottom: 1vh;
font-family: ImpactWGL, Helvetica Neue, sans-serif;
font-size: 3.8vw;
letter-spacing: 0.1vw;
}


#paul-profile article strong,
#jan-profile article strong,
#jerry-profile article strong,
#keith-profile article strong {
font-family: AvenirLTStd-Heavy, Helvetica Neue, sans-serif;
font-size: 1.3vw;
letter-spacing: 0.01vw;
}


#paul-profile article p, 
#jan-profile article p,
#jerry-profile article p,
#keith-profile article p {
margin-bottom: 0.8vh;
font-family: AvenirLTStd-Book, Helvetica Neue, sans-serif;
font-size: 1.3vw;
line-height: 2.25vh;
letter-spacing: 0.01vw;
}






/*          MOBILE        */


/*          TABLETS        */


@media (max-width : 1024px)  { 


html {
font-size: 14px;
background-image:url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);
-webkit-overflow-scrolling: touch;
}


body {
}


#mobile{
margin-left: 10vw;
margin-right: 10vw;
display: block;
}


.sticky {
position: -webkit-sticky;
position: sticky;
top: 0; 
}


.sticky:before,
.sticky:after {
content: '';
display: table; 
}


#logo-mobile img {
padding-top:20rem;
width: 50vw;
display: block;
margin: auto;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
-webkit-transform: translateZ(-1);
transform: translateZ(-1); 
}


#what-is-pact {
margin-top: 25rem;
}


#what-is-pact header {
text-align:center;
font-family: ImpactWGL, Helvetica Neue, sans-serif;
text-align: center; 
font-size: 4rem;
}


#what-is-pact article {
margin-top: 5rem;
margin-bottom: 25rem;
text-align:center; 
}


#what-we-do { 

}

#what-we-do,
#who-we-are,
#why-pact,
#contact-us {


margin-top: 25rem;
margin-bottom: 25rem;
}


#what-we-do header,
#who-we-are header,
#why-pact header,
#contact-us header { 
padding-top: 2rem;
margin-bottom: 25rem;
text-align:center;
font-family: ImpactWGL, Helvetica Neue, sans-serif;
text-align: center; 
font-size: 4rem;
}

#who-we-are article {
margin-top: 10rem;
margin-bottom: 10rem;
text-align:center; 
}


#what-we-do article,
#contact-us article { 
margin-top: 10rem;
margin-bottom: 10rem;
text-align:center;
}

#why-pact article {
margin-top: 10rem;
margin-bottom: 10rem;
}

#what-is-pact article strong,
#what-we-do article strong,
#who-we-are article strong,
#why-pact article strong {
margin-bottom: 2.5rem;
display: block;
font-family: AvenirLTStd-Heavy, Helvetica Neue, sans-serif;
font-size: 1.8rem;
}

#what-is-pact article p,
#what-we-do article p,
#who-we-are article p,
#why-pact article p,
#contact-us article p { 
max-width: 70vw;
margin-left: 15vw;
margin-right: 15vw;
margin-bottom: 5rem;
display: block;
font-family: AvenirLTStd-Book, Helvetica Neue, sans-serif;
font-size: 1.4rem;
line-height: 2.2rem;
}

#who-we-are article img {
width: 70vw;
padding-bottom: 8rem;
}

#who-we-are article strong {
margin-top: -5.5rem;
}

#who-we-are button,
#contact-us button {
background: none;
border: 0;
margin-top:-5rem;
}

#who-we-are svg,
#contact-us svg {
padding-right: 2vw;
width: 8vw;
}

#contact-us img {
width: 50vw;
}

#who-we-are img {
width: 80vw;
display: block;
margin: auto;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
-webkit-transform: translateZ(-1);
transform: translateZ(-1);
}

#right-align-text strong,
#right-align-text p {
text-align: right;
}

article#left-align-text {
margin-top:0!important;
}

#left-align-text strong,
#left-align-text p {
text-align: left;
}


.home .main {
display:none;
}

.logo, .bgimgs {
display:none;
}
}

/*          MOBILE     */


@media only screen 
and (max-device-width : 736px) { 

html {
font-size: 20px;
}

#what-is-pact article p,
#what-we-do article p,
#who-we-are article p,
#why-pact article p,
#contact-us article p { 
max-width: 90vw;
margin-left: 5vw;
margin-right: 5vw;
}


#what-is-pact article strong,
#what-we-do article strong,
#who-we-are article strong,
#why-pact article strong {
max-width: 90vw;
margin-left: 5vw;
margin-right: 5vw;
}


#who-we-are article img {
width: 80vw;
padding-bottom: 12rem;
}

#who-we-are article strong {
margin-top: -11.5rem;
}
}


/*          IPHONE 6        */

@media only screen 
and (max-device-width : 667px)
and (-webkit-min-device-pixel-ratio: 2) {

html {
font-size: 16px;
}

body {

}
}


